.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list-group-item {
  display: flex;
}

.pagination {
  justify-content: center;
}

.list-number {
  padding-right: 10px;
}
